<div class="container">
  <app-nav-bar></app-nav-bar>
  <main>
    <section class="my-2">
      <p class="display-1 text-center border-bottom fw-bold">Log In</p>
    </section>
    <section class="row my-5">
      <div class="col">
        <h1 class="fw-bold display-2">Log In</h1>
        <p>Inicio de sesion</p>
      </div>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Correo electronico</label
          >
          <input
            type="email"
            class="form-control w-50"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text w-25">
            Su correo nunca sera compartido con nadie.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Contraseña</label
          >
          <input
            type="password"
            class="form-control w-50"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn1">Ingresar</button>
      </form>
    </section>
  </main>
  <app-footer class="fixed-bottom"></app-footer>
</div>
