<footer class="w-100 h-100 bg-dark p-4">
  <div class="row">
    <div class="col-6">
      <a class="navbar-brand float-end">
        <img
          src="../../../assets/company-logo.png"
          alt="Logo"
          width="55"
          height="60"
          class="d-inline-block"
        />
      </a>
    </div>
    <div class="col-6 text-start m-auto text-white">
      <span class="align-middle">
        <a routerLink="/license">License</a> <br />
        <a routerLink="/help">Ayuda</a>
        <a routerLink="/contact">Contacto</a>
      </span>
    </div>
  </div>
</footer>
