.btn1 {
  background-color: #A45EE5;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 9px 32px;
  font-size: 15pt;
}

.btn2 {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #A45EE5;
  padding: 9px 32px;
  font-size: 15pt;
}

