<div class="container">
  <app-nav-bar></app-nav-bar>
  <main class="text-center">
    <div class="fs-1 border-bottom">
      <h1>Plantas Urbanas</h1>
    </div>
    <div class="row mt-4">
      <div class="col-5 text-start">
        <p class="fs-1 fw-bold font-monospace lh-sm">
          La Mejor Pagina Para Comprar Tus Plantas
        </p>
        <p class="fs-5 fw-light lh-sm'">
          Todas nuestras plantas son cosechadas en ambientes de alta calidad
          para garantizar una larga vida y salud de ellas
        </p>
        <br /><br />
        <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
          <div class="btn-group me-5" role="group">
            <button type="button" routerLink="/plants" class="btn1">
              <b>Comprar</b>
            </button>
          </div>
        </div>
      </div>
      <div class="col-7">
        <img
          class="w-100 h-100 rounded"
          src="../../../assets/carrousel-imgs/1.jfif"
          alt="Some plants and cactus"
        />
      </div>
      <div class="text-center mt-4 fs-1">
        <h1>Pagina #1 De Todo Nuevo Leon</h1>
        <p class="fs-6">
          Somos la mejor pagina de venta de plantas de todo Nuevo Leon
        </p>
      </div>
    </div>
  </main>
  <app-footer class="fixed-bottom"></app-footer>
</div>
