.logos-container{
  width: 400px;
  height: 300px;
  background-color: #4ab467;
  margin-bottom: 20px;
  border-radius: 0 0 50% 50%;
}

svg{
  margin: 15px;
  margin-top: 65px;
  filter: invert(7%) sepia(37%) saturate(573%) hue-rotate(191deg) brightness(93%) contrast(106%);
}
