<div class="container">
  <app-nav-bar></app-nav-bar>
  <main>
    <div class="text-center border-bottom">
      <h1>Carrito de compras</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="mt-4">PAGO</h1>
        <div class="mb-3 mt-4">
          <label class="form-label"> Metodo de pago</label>
          <select class="form-select">
            <option selected>Selecciona una opcion de pago</option>
            <option value="1">VISA</option>
            <option value="2">Master Card</option>
            <option value="3">Paypal</option>
          </select>
          <div class="input-group mt-2">
            <input
              type="text"
              class="form-control"
              placeholder="Mes y año de vencimiento"
            />
            <span class="input-group-text">></span>
            <input type="text" class="form-control" placeholder="CVV" />
          </div>
        </div>
        <form class="mb-3">
          <h1>Direccion de entrega</h1>
          <label class="form-label">Calle y colonia</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Calle y numero"
          />
          <input type="text" class="form-control mb-2" placeholder="Colonia" />
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Codigo postal"
          />
        </form>
        <button class="btn btn-info" routerLink="/plants">
          <label class="text-white mx-1"> < </label>
          Regresar
        </button>
        <button class="btn btn-danger w-25 float-end" type="submit">
          Comprar
        </button>
      </div>
      <ng-container *ngIf="true">
        <div class="col-sm-6">
          <div class="w-100 h-100 mt-5 text-center">
            <img src="" alt="Plant" />
            <h5>a</h5>
            <button class="btn btn-danger float-start">Eliminar</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="false">
        <div class="col-sm-6 text-center mt-5">
          <p class="display-4">No hay nada en el carrito por ahora!</p>
          <button routerLink="/plants" class="btn btn-primary">
            Ir a comprar
          </button>
        </div>
      </ng-container>
    </div>
  </main>
  <app-footer class="fixed-bottom"></app-footer>
</div>
